.newProduct {
  flex: 4;
  padding: 0 20px;
}

.addProductForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.addProductItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
}
.div{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.addProductItem > select {
  padding: 10px;
}
.x{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: green;
  color: white;
  font-size: 20px;
}
.addProductTitle{
  color: black;
}
.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}
